h3{
	color:#8080ff;
	font-weight: bold;
}

h4{
	color:#ff0080;
}

p{
	font-style: italic;
}

.btn{
	padding: 5px 58px 5px 58px;
	font-weight: bold;
}

a:hover{
	text-decoration: none;
	color: #8080ff;
	font-weight: bold;
}